<!doctype html>
<html>
<head>
    <style type="text/css">
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <p align = center>
        <a href = "/">Home</a>
        <a href = "/blog">All Blog Posts</a>
        <a href = "/newpost">Add Blog Entry</a>
        <a href = '/login'>Log In</a>
        <a href='/logout'>Log Out</a>
    </p>
    <hr />

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <p class="{{category}}">{{message}}</p>
        {% endfor %}
    {% endwith %}

    
    {% block content %}
    {% endblock %}

    
</body>
</html>